.header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;

}

.wrap {
    width: 1226px;
    margin: 0 auto;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.header li {
    position: relative;
    float: left;
    height: 40px;
}

.header a {
    color: #b0b0b0;
    font-size: 12px;
}

.header span {
    color: #424242;
    margin: 0 3.6px;
    font-size: 12px;
}

.header a:hover {
    color: #fff
}

.cart {

    position: relative;
    width: 120px;
    height: 40px;
    background-color: #424242;
    margin-left: 25px;
}

.cart:hover {

    background-color: #fff;

}

.cart:hover>a {

    color: #ff6700;
}

.cart-list {
    z-index: 900;
    position: absolute;
    right: 0;
    top: 40px;
    width: 316px;
    height: 0;
    line-height: 100px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    color: #424242;
    font-size: 12px;
    transition: all .3s;
    overflow: hidden;
}

.cart:hover>.cart-list {
    height: 100px;

}

.download {
    z-index: 900;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -62px;
    width: 124px;
    height: 0px;
    background-color: #fff;
    box-shadow: 0 1px 5px #aaa;
    overflow: hidden;
    transition: all .3s;
}

.download>img {
    width: 90px;
    margin: 18px 0 12px;
}

.download>p {
    color: #333;
    font-size: 14px;
    line-height: 1;
}

.header-left>li:hover>.download {
    height: 148px;
}

.triangle {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.header-left>li:hover>.triangle {
    display: block;
}

.nav {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #fff;
}

.logo {
    float: left;
    width: 234px;
    height: 100px;
    /* background-color: red; */
    text-align: left;
}

.nav-bar {
    float: left;
    width: 696px;
    height: 100px;
    /* background-color: yellow; */
}

.search {
    float: left;
    width: 296px;
    height: 50px;

    margin-top: 25px;
}

.logo>img {
    width: 56px;
    margin-top: 22px;

}

.nav-bar>ul>li {
    float: left;
}

.nav-bar>ul>li>a {
    display: block;
    padding: 38px 10px;
    color: #333
}

.nav-bar>ul>li>a:hover {
    color: #ff6700;
}

.nav-bar-list {
    z-index: 888;
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 229px;
    border-top: 1px solid #e0e0e0;
    background-color: #fff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .18);
}

.nav-bar li:hover>.nav-bar-list {
    display: block;
}

.nav-bar-list li {
    width: 204px;

    /* padding-top: 35px; */
    float: left;
}

/* .nav-img-box {
    width: 100%;
    height: 110px;
    border-right: 1px solid #e0e0e0;
    box-sizing: border-box;
    margin-bottom: 20px;
} */
.nav-bar-img {

    width: 203px;
    height: 110px;
    border-right: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

.nav-bar-list p {
    line-height: 20px;
    font-size: 12px;
    padding-top: 60px;
    /* color: #333; */
}

.nav-bar-list span {
    display: block;
    line-height: 20px;
    font-size: 12px;
    padding-top: 40px;
}

.nav-bar-list p:nth-of-type(2) {
    color: #ff6700;
}

.nav-bar-list li:last-child .nav-img-box {
    border-right: none;
}

.search input {
    float: left;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    border-right: none;
    outline: none;
    transition: all .2s;
}

.search button {
    float: left;
    width: 52px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    transition: all .2s;
}

.search button:hover {
    background-color: #ff6700;
    border-color: #ff6700;
    color: #fff;
}

.search input:hover {
    border-color: #b0b0b0;
}

.search input:hover,
.search input:hover+button {
    border-color: #b0b0b0;
}

/* 第六搜索栏没弄完，有点累了，择日再战 */


.banner {
    width: 100%;
    height: 460px;
    /* background-color: red; */
}

.banner-box {
    position: relative;
    width: 100%;
    height: 460px;
    background-color: sienna;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 234px;
    height: 420px;
    padding: 20px 0;
    background-color: rgba(105, 101, 101, .6);
}

.slide>ul>li {
    height: 42px;
    line-height: 42px;
    padding-left: 30px;
    text-align: left;
}

.slide>ul>li>a {
    color: #fff;
    font-size: 14px;
}

.slide i {
    float: right;
    margin-right: 20px;
    color: #e0e0e0;
    font-size: 14px;
}

.slide>ul>li:hover {
    background-color: #ff6700;
}

.slide>ul>li:hover>.slide-list {
    display: block;
}

.slide-list {
    z-index: 750;
    display: none;
    position: absolute;
    top: 0;
    left: 234px;
    width: 992px;
    height: 456px;
    border: 1px solid #e0e0e0;
    border-left: none;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .18);
    padding-top: 2px;

}

.slide-list>ul {
    width: 248px;
    float: left;

}

.slide-list li {
    width: 100%;
    height: 76px;
    /* background-color: red; */
    padding: 18px 0 18px 20px;
    box-sizing: border-box;
    margin-top: -3px;
}

.slide-list img {

    margin-right: 12px;
}

.slide-list span {
    width: 172px;
    /* display: inline-block; */
    line-height: 40px;
    color: #333;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.slide-list li:hover span{
    color:#ff6700 ;
}
.prev,.next{
    position: absolute;
    top: 50%;
    margin-top: -34.5px;
    width: 41px;
    height: 69px;
    background-image: url(../images/icon-slides.png);

}
.prev{
    left: 234px;
    background-position: -83px;
    }
.prev:hover{
    background-position: 0;
}
.next{
    right: 0;
    background-position: -124px;
}
.next:hover{
    background-position: -42px;
}

.adv{
    width: 100%;
    height: 170px;
    margin: 14px 0 26px;
}
.adv-aside{
    float: left;
    width: 228px;
    height: 164px;
    padding: 3px;
    background-color: #5f5750;
}
.adv-img{
    float: left;
    width: 316px;
    height: 170px;
    background-color: red;
    margin-left: 14.66px;
    transition: all .2s linear;
}
.adv-img img{
    width: 100%;
    height: 100%;
}
.adv-img:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.15);
}
.adv-aside li{
    position: relative;
    float: left;
    width: 76px;
    height: 82px;
} 
.adv-aside i{
    margin-top: 18px;
    display: block;
    margin-bottom: 4px;
    font-size: 22px;
}
.adv-aside a{
    display: block;
    color: #fff;
    font-size: 12px;
    opacity: .7;
    transition: all .2s;
}
.adv-aside a:hover{
    opacity: 1;
}
.row::after,col::before{
    position: absolute;
    content: '';
    background-color: #665e57;
}
.row::after{
    
    bottom: 0;
    left: 6px;
    
    height: 1px;
    width: 64px;
    
    

}
.col::before{
    
    right:0 ;
    top: 6px;
   
    width: 1px;
    height: 70px;

    position: absolute;
}

.content{
    width: 100%;
    background-color: #f5f5f5;
    padding: 4px 0 12px;
    overflow: hidden;
}
.home-box{
    width: 100%;
    height: 120px;
    margin: 22px 0;
}
/* .content img{
    width: 100%;
    height: 100%;
} */
.title{
    text-align: left;
    font-size: 22px;
    font-weight: 200;
    color: #333;
    line-height: 58px;
}
.qq{
    float: right;
    /* display: inline-block; */
    /* text-align: right; */
    font-size: 12px;
    font-weight: 100;
    color: #333;
    /* line-height: 58px; */

}
.phone i{
    float: right;
}
.phone span{
    padding-right: 10px;
}
.phone span:hover,.phone i:hover{
    color: #ff6700;
}
.container{
    width: 100%;
    height: 614px;
    /* background-color: red; */
}
.phone-box-left{
    float: left;
    width: 234px;
    height: 614px;
    transition: all .2s linear;
    /* background-color: seagreen; */
}
.phone-box-right{
    float: right;
    width: 992px;
    height: 614px;
    /* background: pink; */
}
.items{
    float: left;
    width: 234px;
    height: 300px;
    background-color: #fff;
    margin-left: 14px;
    margin-bottom: 14px;
    transition: all .2s linear;
}
.items:hover,.phone-box-left:hover,.items1>div:hover,.video-box li:hover{
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}
.goods-img{
    width: 160px;
    margin: 20px 0 18px;
}
.name{
    width: 214px;
    height: 21px;
    margin: 0 auto 2px;
    /* background-color: red; */
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.desc{
    width: 214px;
    height: 18px;
    color: #b0b0b0;
    font-size: 12px;
    margin: 0 auto 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.price{
    color: #ff6700;
    font-size: 14px;
}
.items-left{
    margin-left: 0;
}
.items{
    width: 234px;
    height: 300px;
    /* background-color: #fff; */
    float: left;
   

}
.items1>div{
    float: right;
    width: 234px;
    height: 143px;
    background-color: #fff;
    margin-bottom: 14px;
    transition: all .2s linear;
}
.items1>div>img{
    margin-left: 70px;
    margin-top: 20px;
   
}
.video{
    clear: both;
}
.video-box li{
    width: 296px;
    height: 285px;
    margin-bottom: 14px;
    background-color: #fff;
    float: left;
    margin-left: 14px;
    transition: all .2s linear;
}
.video-box li:first-child{
    margin-left: 0;
}
.video-img{
    position: relative;
    width: 100%;
    height: 180px;
    
}
.video-box p{
    width: 268px;
    height: 21px;
    color: #333;
    font-size: 14px;
    margin: 0 auto 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top:35px ;
    
    
}
.play{
    position: absolute;
    width: 32px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 12px;
    left: 20px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, .6);
    transition: all .2s;
}
.play>span{
    width: 0;
    height: 0;
    display: inline-block;
    border-left:8px solid #fff ;
    border-top: 6px solid transparent;
    border-bottom:6px solid transparent ;
    position: relative;
    top: -1px;
}
.video-img:hover>.play{
    background-color: #ff6700;
    border-color: #ff6700;
}
.footer-top{
    background-color: #fff;
}
.footer-bottom{
    background-color: #fafafa;
    padding: 30px 0;
}
.footer-server{
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.footer-server li{
    float: left;
    width: 19.8%;
    border-right: 1px solid #e0e0e0;
}
.footer-server li:last-child{
    border-right: none;
}
.footer-server a{
    color: #616161;
    transition: all .2s;
}
.footer-server a:hover{
    color: #ff6700;
}
.footer-server i{
    font-size: 24px;
    margin-right: 6px;
    position: relative;
    top: 2px;
}
.footer-links{
    padding: 40px 0;
    height: 172px;
}
.footer-links>ul{
    float: left;
    width: 160px;
    text-align: left;
}
.footer-links li{
    height: 18px;
    margin-top: 10px;
    font-size: 14px;
    color: #424242;
}
.footer-links li:first-child{
    height: 17px;
    margin: -1px 0 26px;
}
.footer-links li a{
    font-size: 12px;
    color: #757575;

}
.footer-links li a:hover{
    color: #ff6700;
}
.contact{
    width: 251px;
    height: 111px;
    border-left: 1px solid #e0e0e0;
    /* background-color: red; */
    float: right;
}
.contact>p:first-of-type{
    font-size: 22px;
    line-height: 22px;
    color: #ff6700;
    margin-bottom: 5px;
}
.contact>p:nth-of-type(2){
    color: #616161;
    font-size: 12px;
    margin-bottom: 5px;
}
.btn{
    width: 118px;
    height: 28px;
    border: 1px solid #ff6700;
    display: inline-block;
    line-height: 28px;
    background-color: #fff;
    color: #ff6700;
    font-size: 12px;
    transition: all .4s;
}
.btn:hover{
    background-color: #ff6700;
    color: #fff;
}
.contact p:last-of-type{
    position: relative;
    font-size: 12px;
    color: #616161;
    margin-top: 10px;
}
.contact p:last-of-type span{
    position: relative;
    top: -7px;
}
.wb,.wx{
    width: 24px;
    height: 24px;
    background-color: red;
    margin-left: 6px;
    display: inline-block;
}
.wb{
    background: url(../images/wb.png) no-repeat;
    background-size: 100%;
}
.wx{
    background: url(../images/wx.png);
    background-size: 100%;
}
.wb:hover{
    background-image: url(../images/wb@2x.png);
}
.wx:hover{
    background-image: url(../images/wx@2x.png);
}
.contact img{
    display: none;
    position: absolute;
    top: 22px;
    left: 100px;
    width: 126px;
}
.wx:hover+img{
    display: block;
}
.fixed{
    position: fixed;
    right: 0;
    bottom: 70px;
    width: 84px;
    height: 455px;
    background-color: pink;
}
.fixed>ul>li{
    /* border-bottom: 1px solid #b0b0b0; */
    height: 65px;
    
    
}
.fixed>ul{
    margin-top: 30px;
    width: 100%;
}
.fixed>ul>li>a{
    
    display: block;
    height: 65px;
    
}
.fixed i{
    color: #616161;
    padding-top: 10px;
    display: block;
}
.fixed span{
    color: #616161;
    display: block;
}
.fixed>ul>li:hover>a{
    background-color: #ff6700;
}
/* .fixed>a>i{
    display: block;
} */
/* .fixed>a>span{
    display: block;
} */
/* .fixed>li>ul>span{
    width: 84px;
    display: block;
} */
